img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
  margin: auto;
}

.card {
  margin: 5px;
  transition-duration: 500ms;
  animation-duration: 5000ms;
}


.card:hover {
  margin: 0px;
  transition-duration: 500ms;
  animation-duration: 5000ms;
}

.card-body {
  background-color: blanchedalmond;
}

.card:hover .card-body {
  background-color: burlywood;
}

h5 {
  text-transform: capitalize;
  color:black
}

.card:hover h5 {
 text-decoration: none !important;
}

